body {
}

header {
    width: 600px;
    height: 50px;
    background-color: blue;
    color: white;
    border: 20px solid navy;
    padding: 20px 0 0 5px;
}

main {
    width: 400px;
    height: 40px;
    background-color: gold;
    border: 45px solid darkgoldenrod;
    padding: 20px 0 0 5px;
    margin-top:10px;
    margin-left:10px;
}

footer {
    width: 600px;
    height: 40px;
    background-color: blue;
    color: white;
    border: 20px solid navy;
    padding: 20px 0 0 5px;
    margin-top: 15px;

}