img {
    height: 180px;
    width: 220px;
}

figure {
    display: inline-block;
    width: 220px;
    height: 220px;
    border: 1px solid whitesmoke;
    text-align: center;
    margin-right: -30px;
}

figcaption {
    margin-top: 5px;
}

figure:hover {
    border: 1px solid black;
}