/* left, right, top, bottom */

div.static {
    position: static;
    border: 3px solid #98acac;
}

div.relative {
    position: relative;
    left: 50px;
    border: 3px solid #98acac;
}

div.absolute {
    position: absolute;
    border: 3px solid pink;

   top: 0px;
   right: 0px;
   width: 300px;
   height: 100px;
   text-align: center;
   line-height: 100px;
   display: none;
}

div.relative2 {
    margin-top: 50px;
    position: relative;
    width: 600px;
    height: 300px;
    border: 3px solid #98acac;
}

div.relative2:hover > div.absolute {
    display: block;
}


div.fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
    border: 3px solid pink;
    background-color: indianred;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    z-index: -1;
}