body, * {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    /* height: 100%; */
    font-family: 'Fira Sans Condensed', sans-serif;
}
.header {
    height: 100%;
    width: 100%;
    background-image: url("./img/mountain.jfif");
    background-size: cover;
    color: white;
}
.main-nav {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
}
ul li {
    display: inline;
    margin: 20px;
}
.main-nav p {
    display: inline;
    font-size: 2em;
    margin: 0px 30px;
    font-family:  'Lobster', cursive;
}
.main {
    text-align: center;
    margin-top: 100px;
}
.main h1 {
    font-size: 4.2em;
    font-family:  'Lobster', cursive;

}
.main button {
    margin: 300px 0 50px 0;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 20px;
    border: none;
}



.gallery {
    padding: 50px 0;
}
.gallery-line {
    border: 1px solid black;
    width: 30px;
    margin: 50px 200px 0 200px;
}
.gallery-title {
    margin: 10px 200px 50px 200px;
    font-size: 2.5em;
    font-weight: bolder;
}
.images {
    position: relative;
    width: 30%;
    flex-grow: 1;
    height: 250px;
}
.images img {
    width: 100%;
    height: 250px;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.images span {
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
}




footer {
    background-image: url('./img/footer-img.jfif');
    background-size: cover;
}
.footer {
    background: rgba(255,255,255,.5);
    padding: 80px 100px;
}
.line {
    width: 50px;
    border: 2px solid black;
    margin: 25px 47%;
}
.footer-head h1{
    text-align: center;
    margin: 0 35%;
    margin-bottom: 50px;
    font-size: 3em;
}
.footer-subscribe {
    display: flex;
    left: 30%;
    padding: 50px 0 100px 0;
    position: relative;
    width: 500px;
}
.footer-subscribe input {
    padding: 12px;
    border-radius: 30px;
    position: absolute;
    border: none;
    width: 400px;
}
.footer-subscribe button {
    padding: 12px;
    border-radius: 20px;
    background-color: #54ccb0;
    color: white;
    position: absolute;
    left: 350px;
    border: none;
}
.footer-nav {
    display: flex;
}
.footer-nav div {
    margin: 20px;
    padding-left: 50px;
}
.footer-nav h3 {
    margin: 10px 0;
}
.footer-nav p {
    margin: 10px 0;
    color: rgba(65, 65, 65, 0.726);
}
.footer-social {
    padding-left: 100px;
}
.footer-social h2 {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-family: 'Lobster', cursive;
    font-size: 2.2em;
}
.footer-social div {
    display: flex;
    padding: 0;
}
.footer-social p {
    padding-right: 20px;
    color: black;
}

.fa {
    padding: 8px;
    margin: 5px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}
.rating {
    color: rgb(255, 196, 0);
}
.slider-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 300px;
    /* position: relative; */
    /* margin-left: 100px; */
}
.slider {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    position: relative;
}
.slider img {
    height: 200px;
    width: 280px;
}
.price {
    position: absolute;
    bottom: 80px;
    right: 10px;
    background: white;
    padding: 15px;
}
.arrow {
    background: white;
    cursor: pointer;
}


.shown {
    display: block;
}
.hidden {
    display: none;
}