* {
    margin: 0;
    padding: 0;
}

body {
    background: #64666e;
    color: rgb(250, 171, 171, 0.5);
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    grid-gap: 10px;
    max-width: 700px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.head1 {
    background-color: pink;
    width: 500px;
    height: 100px;
    /* grid-row: 1; */
}

.head2 {
    background-color: pink;
    width: 500px;
    height: 100px;
    grid-row: 2;
}

.main {
    background-color: rgb(126, 58, 69);
    width: 500px;
    height: 200px;
    grid-row: 3;
}
.box {
    background-color: rgb(181, 226, 207);
    width: 500px;
    height: 100px;
}
.box1 {
    grid-row: 4;
}
.box2 {
    grid-row: 5;
}
.box3 {
    grid-row: 6;
}

.foot {
    background-color: peru;
    width: 500px;
    height: 70px;
}

.footer1{grid-row: 7;}
.footer2{grid-row: 8;}
.footer3{grid-row: 9;}
.footer4{grid-row: 10;}