body,* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 103, 122);
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    margin: 20px;
    width: 200px;
    height: 60px;
    border: 2px solid rgba(255, 192, 203, 0.52);
    border-radius: 10%;
    align-self: center;
    font-size: 1.5em;
    background: rgba(170, 35, 58, 0.329);
    text-align: center;
}
.box a {
    background: rgba(170, 35, 58, 0);
    color: black;
    text-decoration: none;
}
a:hover {
    color:  rgba(207, 21, 21, 0.788);
}
a:visited {
    color: white;
}
