/* /* 
 * Colors
 * 
 * Dark gray		#34383c
 * medium gray		#81858a
 * purple			#620e6e
 * blue				#4385c1
 * light blue		#9ac9f4
 * darker blue		#043867
 * darkest blue	#002342
 * blue tint		#e7ecf0
 * green				#7aa120
 */



body {
	background: white;
	color: #81858a;
	font: 1em/1.6 Helvetica, Verdana, sans-serif;
	line-height: 1.5em;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-weight: normal;
}
h1 {}
h2 {
	font: 2.25rem/1.2 Helvetica, Verdana, sans-serif;
}
h3 {font-size: 1.5rem;}
h4 {
	font-size: 1.2rem;
}
h5 {}
h6 {}
p {	font-size: .925rem;}


img {
	max-width: 100%;
}


/* Links */
a:link, a:visited {
	color: #4385c1;
	text-decoration: none;
}
a:hover, a:focus, a:active {
	color: #043867;
}



/* Header */
.branding {
	color: #9ac9f4;
	text-transform: uppercase;
	float: left;
	margin-left: 110px;
	margin-top: 30px;
	width: 500px;
	text-align: center;
}

header {
	background: #4385c1;
	color: white;
	font-size: .9rem;
}

/* main */
.main {
	display: grid;
	grid-gap: 30px;
	max-width: 960px;
	padding: 30px;
	grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(8, auto);
}
.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1/13;
	grid-row: 1/3;
}
.hero img {
	/* position: relative; */
	/* z-index: -1; */
	min-width: 1200px;
}
.hero-title{
	position: absolute;
	/* display: flex; */
	height: 200px;
	line-height: 20px;
	color: white;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	padding: 5px;
}
.hero-title h3, .hero-title p {
	font-size: 60px;
	text-align: center;
}

.green-zone {
	display: flex;
	background-color: #7aa120;
	grid-row: 3;
	grid-column: 1/13;

	height: 100px;
	color: white;
	padding: 10px 35px;
}
.green-zone h3 {
	position: relative; 
	width: 50%;
	font-size: 40px; 
	align-self: center;
	margin: 0;
}
.green-zone p {
	position: relative; 
	align-self: center;
}

.item1 {
	padding: 30px;
	grid-row: 4/6;
	grid-column: 1/4;
	background-color: #8a8a8d4f;
	height: 300px;
}
.item2 {
	padding: 30px;
	grid-row: 4/6;
	grid-column: 4/9;
	background-color: #8a8a8d4f;
	height: 300px;
}
.item3 {
	padding: 30px;
	grid-row: 4/6;
	grid-column: 9/13;
	background-color: #8a8a8d4f;
	height: 300px;
}

.item4 {
	padding: 40px;
	grid-row: 6;
	grid-column: 1/4;
	background-color: #620e6e;
	height: 300px;
}
.item5 {
	padding: 40px;
	grid-row: 6;
	grid-column: 4/9;
	background-color: #4385c1;
	height: 300px;
}
.item6 {
	grid-row: 6;
	grid-column: 9/13;
}
.button2 {
	display: flex;
	justify-content: space-between;
	grid-row: 9;
	grid-column: 1/13;
}

.button2 .button {
	padding: 10px 70px;
	border: 1px solid lightblue;
	border-radius: 5px;
}
.item4 a h2, .item4 p, .item5 a h2, .item5 p{
	color: white;
	font-size: 35px;
	font-weight: 300;
	line-height: 40px;
	/* padding: 40px; */
	vertical-align: middle;
}
.item6 .date {
	border: 1px solid grey;
	border-radius: 3px;
	color: green;
	height: 80px;
	width: 80px;
	/* text-align: center; */
	/* justify-content: center; */
}
.item6 .date h4 {
	margin: 0;
	font-size: 15px;
	padding: 10px 24px;
}
.item6 .date h3 {
	margin: 0;
	font-size: 45px;
	padding: 0 18px;
}
.event-date {
	display: flex;
	padding: 10px;
	/* width: 200px; */
}
.event-date p{
	color: #2c8cc4;
	margin: 0;
	padding: 10px 20px;
	width: 150px;
	/* justify-content:  center; */

}


/* footer */
footer {
	background: #34383c;
	color: white;
	padding: 1em;
}

small {
	display: flex;
	/* margin: 100px; */
	padding: 50px 0 200px 400px;
}

/* navigation */
#quick-nav {
	margin-top: 50px;
	margin-left: 15px;
	float: left;
}
#quick-nav ul {
	padding-left: 0;
}
#quick-nav li{
	display: inline-block;
	list-style-type: none;
	padding-right: 7px;
	border-right: 1px solid #e7ecf0;
}

#quick-nav li:last-of-type {
	border: none;
}

#quick-nav a:link, #quick-nav a:visited {
	color: white;	
}
#quick-nav a:hover, #quick-nav a:focus, #quick-nav a:active {
	color: #9ac9f4;
}



#main-nav ul {
	margin: 0;
}
#main-nav ul li{
	display: table-cell;
	width: 1%;
	/* display: inline-block; */
	list-style-type: none;
	padding: 20px;
	border-left: 1px solid rgb(147, 181, 192);
	text-align: center;
}
#main-nav {
	clear: both;
	background-color: #043867;
	font-family: Georgia, serif;
	font-size: 1.2em;
	border: 1px solid #043867;
	color: white;
}
#main-nav ul li a {
	color: #fff;
}
#main-nav li:hover {
	background-color: #002342;
}



#utilities-nav {
	margin-top: 50px;
	display: inline-block;
	/* float: right; */
	
}
#utilities-nav .button {
	padding: 10px 15px 10px 15px;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	margin-right: 15px;
}


#full-nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 600px;
	padding: 50px;
}

.full-nav1 {
	flex: 0 40%;
}
.full-nav2 {
	float: right;
}

#full-nav ul{
	list-style-type: none;
	padding: 0;
}


#full-nav a:link, #full-nav a:visited {
	color: #81858a;	
}
#full-nav h3 a:link, #full-nav h3 a:visited {
	color: white;
}
#full-nav a:hover, #full-nav a:focus, #full-nav a:active {
	color: white;
}