*, *::after, *::before {
    box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
    background-color: tomato;
    font-size: 10px;
    /* margin: 5px; */
    padding: 0;
}

figure {
    width: 130px;
    display: inline-block;
    margin: 5px;
    font-size: 10px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    background-color: black;
    color: white;
    display: inline-block;
}

@media all and (min-width: 700px) {
    body {
		background-color: rgb(100, 117, 117);
		font-size: 20px;
    }

    figure {
        width: 180px;
    }
}

@media all and (min-width: 900px) {
    body {
        font-size: 1.7em;
        background-color: lightblue;
        padding: 80px;
    }
    h1 { font-size: 1.2em; }
    h2 { font-size: .9em; }
    img {
        max-width: 100%;
    }

    figure {
        margin: 10px;
        padding: 5px;
        width: 300px;
        font-size: 15px;
    }
}
