* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.results {
    background-color: rgba(202, 196, 196, 0.897);
    width: 20%;
    padding: 10px;
}
ul li {
    list-style-type: none;
    line-height: 40px;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
article {
    background-color: rgba(128, 128, 128, 0.719);
    width: 80%;
    padding-left: 20px;
}
.table-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(202, 196, 196, 0.897);
    width: 100%;
}
.table-header h1 {
    display: inline;
    margin: 5px 0 0 10px;
}
#wrapper {
    display: flex;
    overflow: scroll;
}
.table-collumn {
    max-width: 100px;
    min-width: 72px;
    text-align: center;
}
.table-row {
    border: 1px solid white;
    height: 57px;
    background-color: rgba(63, 194, 63, 0.74);
    padding: 20px 0;
}
.person {
    background-color: rgba(184, 179, 179, 0.39);
    padding: 10px 0;
}
.average {
    color: white;
    background-color: green;
    padding: 17px 0;
}

#b1 {
    background-color: rgba(31, 202, 31, 0.705);
}
#b2 {
    background-color: rgba(228, 56, 56, 0.952);
}
#b3 {
    background-color:rgba(18, 117, 230, 0.87);
}
footer {
    background-color:  rgba(184, 179, 179, 0.753);
    padding: 10px;
}

@media (max-width: 800px) {
    article {
        flex-shrink: 2;
    }
    .results {
        flex-shrink: 6;
    }
    .names {
        flex-shrink: 2;
    }
    .table-header h1 {
        margin: 20px 0 0 10px;
    }
    .table-collumn {
        font-size: 12px;
        width: 50px;
    }
    #b1 {
        width: 48%;
    }
    #b2 {
        width: 50%;
    }
    #b3 {
        width: 100%;
    }
}

@media (max-width: 600px) {
   .results {
    order: 2;
    width: 100%;
   }
   article {
        order: 1;
        width: 100%;
        padding: 0;
   }
   .main {
        flex-direction: column;
    }
    .table-header {
        flex-direction: column;
    }
    .table-header h1{
        order: 1;
        text-align: center;
    }
    .table-header div {
        order: 2;
    }
    .table-header {
        align-items: stretch;
    }

    #b1 {
       width: 100%;
    }
    #b2 {
        width: 100%;
     }
}