body, * {
	background: white;
	color: black;
	font-family: sans-serif;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Hide Menu */
#menu-primary-items{
    display: none;
}
#menu-toggle-primary a.close-menu-primary{
    display: none;
}
/* Display Menu Items */
#menu-primary:target #menu-primary-items{
    display: block;
}
/* Hide Open Toggle Link */
#menu-primary:target #menu-toggle-primary a.open-menu-primary{
    display: none;
}
/* Show Close Toggle Link */
#menu-primary:target #menu-toggle-primary a.close-menu-primary{
    display: block;
}
#menu-primary {
    display: flex;
    padding: 10px;        
}
#menu-toggle-primary {font-size: 30px;}

.close-menu-primary {
    color: gray;
    background-color: white;
}
#menu-primary div a {
    display: block;
    text-decoration: none;
}
.wrap a {
    color: white;
    background-color: rgb(83, 81, 81);
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}
.cover img {
    display: none;
}
.cover p {
    color: black;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.hide-menu {
    display: none;
}

/* main */
main {
    padding: 0 20px;
}
.container {
    display: flex;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    overflow: scroll;
}
.container img {
    width: 130px;
    height: 70px;
}
.container a {
    color: rgb(0, 204, 255);
    text-decoration: none;
    font-size: 12px;
}
.container-item:first-child {
    padding-left: 12px;
}
.container-item {
    width: 130px;
    padding-left: 15px;
    text-align: left;
    font-size: 13px;
}
.main-news {
    display: flex;
    width: auto;
    padding-bottom: 20px;
}
.main-news img{
    width: 100%;
    height: 150px;
}
.main-news p {
    position: absolute;
    background: gold;
    align-self: flex-end;
    font-weight: 700;
    width: 80%;
}

.second-container {
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    overflow: scroll;
    padding-top: 20px;
}
.news{
    background-color: rgb(235, 38, 176);
    color: white;
    font-size: 30px;
    /* margin-bottom: 15px; */
    padding: 5px;
    text-decoration: none;
}
.second-item {
    width: 130px;
    padding-left: 15px;
    text-align: left;
    font-size: 13px;
}
.second-item:first-child {padding-left: 0;}
.second-item img {
    width: 130px;
    height: 70px;
}
.second-item p {
    padding-bottom: 5px;
}
.second-container span {
    font-size: 12px;
    color: gray;
}

article {
    background-image:url("https://www.climbing.com/.image/cs_srgb%2Cq_auto:good/MTQ3ODk3Nzg1MTAwODA1NDcw/burr041815_173_2800x500.jpg");
    background-size: cover;
    height: 200px;
}
.heading {
    color: white;
    text-align: left;
    min-height: 66px;
    font-size: 36px;
    line-height: 1.1em;
    margin: 20px 0;
}
.button {
    font-size: 14px;
    padding: 15px 20px;
    margin: 5px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FFC60B;
}
.section {
    margin-top: 20px;
}
.section h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
}
.section > div {
    padding: 20px 0;
}

.most-popular {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}
.popular-item {
    display: flex;
    position: relative;
    border-bottom: 1px solid grey;
    width: 100%;
}
.popular-item img {
    height: 150px;
    width: 180px;
    margin: 5px 0;
}
.popular-item p{
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 20px;
}
.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 155px;
}
.grid-item {
    display: flex;
}
.grid-item img{
    width: 100%;
    height: 160px;
}
.grid-item p {
    position: absolute;
    background-color: transparent;
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 0;
    color: white;
    align-self: flex-end;
    padding: 15px;
    text-shadow: 2px 1px 20px rgba(0,0,0,.5);
}


.climbing-wrap p {
    width: 300px;
    background-color: rgba(139, 69, 19, 0.39);
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}
.more-climbing {
    display: flex;
    /* padding: 5px; */
}
.more-climbing a {
    /* padding: 20px 5px; */
    display: inline-block;
}
.more-climbing ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.more-climbing li {
    flex-basis: 100%;
}
.more-climbing .social {
    flex: 1;
}
.social i {
    padding: 15px 20px;
    background-color: #FFC60B;
    border: 1px solid #FFC60B;
    margin: 5px;
}





/* footer */
footer {
    margin: 100px auto;
}
footer div {
    text-align: center;
}
footer ul li{
    list-style-type: none;
    display: inline;
}
footer ul li a {
    padding: 7px;
    font-weight:400; 
    font-weight: bold;
    text-decoration: none;
}
footer p {
    margin: 20px;
    color: gray;
}


@media screen and (min-width: 600px) {
    .cover img {
        display: block;
        height: 300px;
        width: 100%;
    }
    .cover p {
        position: absolute;
        background-color: transparent;
        transform: translate(50px, -200px);
        font-size: 80px;
    }

    .more-climbing li {
        flex: 0;
    }
    .hide-menu {
        display: flex;
        padding: 0 10px;
    }
    .hide-menu li {
        list-style-type: none;
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 15px;
        padding: 5px 10px;
    }
    .hide-menu a:hover {
        color: rgb(0, 204, 255);
    }
    .hide-menu ul li:last-child a {
        display: none;
        background-color:gold;
    }
    main {
        padding: 10px 40px;
    }
    .container {
        /* justify-content: space-around; */
        font-size: 16px;
    }
    .container img {
        width: 200px;
        height: 120px;
        margin-bottom: 10px;
    }
    .container-item {
        width: 200px;
        padding: 20px;
    }
    .container-item p {
        /* width: 200px; */
        /* padding: 20px; */
    }
    .main-news {
        width: 100%;
        height: auto;
        /* padding: 0 20px;
        margin: 20px; */
        margin-bottom: 70px;
    }
    .main-news img {
        width: 100%;
        height: 700px;
    }
    
    .second-container {
        display: flex;
        padding-top: 0;
        font-size: 16px;
        height: 400px;
    }
    .second-item {
        width: 250px;
        height: 150px;
    }
    .second-item img {
        width: 250px;
        height: 150px;
    }
    .news {
        margin-left: 40px;
    }

    .popular-item img {
        width: 400px;
        height: 300px;
        margin: 20px 0;
    }
    .popular-item p{
        font-size: 24px;
        line-height: 1.2em;
        font-weight: 800;
        margin-top: 80px;
        margin-left: 40px;
    }
    .grid {
        grid-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .grid-item img{
        width: 100%;
        height: 100%;
    }
    .grid-item p {
        width: 200px;
        font-size: 30px;
    }
    .grid .button {
        grid-column: 2;
    }
    .more-climbing a {
        padding: 20px 5px;
    }
    .more-climbing li {
        flex: 3;
    }

    
    footer div {
        text-align: right;
    }
    footer ul li a {
        padding: 20px;
    }
}

@media screen and (min-width: 960px) {
    main {
        padding: 10px 40px;
    }
      .hide-menu {
        width: 100%;
        display: flex;
        padding: 0 10px;
    }
    .hide-menu li {
        list-style-type: none;
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 15px;
        padding: 5px 10px;
    } 
    .container {
        justify-content: space-between;
    }
    .main-news img {
        width: 100%;
        height: 700px;
    }
    .grid-item p {
        width: 290px;
        font-size: 30px;
    }
}
