* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.header {
    height: 170px;
    border: 3px solid black;
}

.column {
    width: 20%;
    float: left;
    border: 3px solid black;
    border-top: 0;
    border-bottom: 0;
    height: 400px;
}

.center {
    float: left;
    /* border: 3px solid black; */
    height: 400px;
    width: 60%;
}

.top {
    border-bottom: 3px solid black;
    height: 30%;
}

.bottom {
    height: 70%;
}

.footer {
    clear: both;
    border: 3px solid black;
    padding: 80px;
}