* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

header {
    background-color: beige;
    padding: 20px;
    text-align: center;
    color: brown;
}


nav {
    overflow: hidden;
    background-color: black;
}

nav a {
    display: block;
    float: left;

    color: bisque;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: blueviolet;
    color: black;
}

.column {
    width: 33.33%;
    padding: 15px;
    float: left;
}

footer {
    background-color: pink;
    padding: 10px;
    text-align: center;
    clear: both;
}